# Disputa de datos - data wrangling üßπ

<strong>Objetivos:</strong>
+ Realizar n√°lisis exploratorio de datos (EDA).
+ Determinar etiquetas de entrenamiento.

---

## Importar librer√≠as y cargar datos

In [1]:
# Importar.
import pandas as pd
import numpy as np

# Para ignorar Warnings.
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Cargar dataset de Space X provisto por IBM.
df = pd.read_csv('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/datasets/dataset_part_1.csv')
''' 
o cargar dataset obtenido en el primer cuaderno.
df = pd.read_csv('./datasets/dataset_part_1.csv')
df.head(10)
'''
df.head(10)

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Outcome,Flights,GridFins,Reused,Legs,LandingPad,Block,ReusedCount,Serial,Longitude,Latitude
0,1,2010-06-04,Falcon 9,6104.959412,LEO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0003,-80.577366,28.561857
1,2,2012-05-22,Falcon 9,525.000000,LEO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0005,-80.577366,28.561857
2,3,2013-03-01,Falcon 9,677.000000,ISS,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0007,-80.577366,28.561857
3,4,2013-09-29,Falcon 9,500.000000,PO,VAFB SLC 4E,False Ocean,1,False,False,False,NaN,1.0,0,B1003,-120.610829,34.632093
4,5,2013-12-03,Falcon 9,3170.000000,GTO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1004,-80.577366,28.561857
5,6,2014-01-06,Falcon 9,3325.000000,GTO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1005,-80.577366,28.561857
6,7,2014-04-18,Falcon 9,2296.000000,ISS,CCAFS SLC 40,True Ocean,1,False,False,True,NaN,1.0,0,B1006,-80.577366,28.561857
7,8,2014-07-14,Falcon 9,1316.000000,LEO,CCAFS SLC 40,True Ocean,1,False,False,True,NaN,1.0,0,B1007,-80.577366,28.561857
8,9,2014-08-05,Falcon 9,4535.000000,GTO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1008,-80.577366,28.561857
9,10,2014-09-07,Falcon 9,4428.000000,GTO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1011,-80.577366,28.561857

## An√°lisis exploratorio de datos

In [3]:
# Identificar y calcular el porcentaje de valores faltantes en cada variable/columna.
df.isnull().sum()/df.count()*100

FlightNumber       0.000
Date               0.000
BoosterVersion     0.000
PayloadMass        0.000
Orbit              0.000
LaunchSite         0.000
Outcome            0.000
Flights            0.000
GridFins           0.000
Reused             0.000
Legs               0.000
LandingPad        40.625
Block              0.000
ReusedCount        0.000
Serial             0.000
Longitude          0.000
Latitude           0.000
dtype: float64

In [4]:
# Identificar variables num√©ricas y categ√≥ricas.
df.dtypes

FlightNumber        int64
Date               object
BoosterVersion     object
PayloadMass       float64
Orbit              object
LaunchSite         object
Outcome            object
Flights             int64
GridFins             bool
Reused               bool
Legs                 bool
LandingPad         object
Block             float64
ReusedCount         int64
Serial             object
Longitude         float64
Latitude          float64
dtype: object

### Tareas

#### Tarea 1: Calcular el n√∫mero de lanzamientos en cada ubicaci√≥n

La ubicaci√≥n de cada lanzamiento est√° en la columna <code>LaunchSite</code>.
Utilizar el m√©todo <code>value_counts()</code> en la columna LaunchSite.

In [5]:
df['LaunchSite'].value_counts()

CCAFS SLC 40    55
KSC LC 39A      22
VAFB SLC 4E     13
Name: LaunchSite, dtype: int64

Adem√°s, cada lanzamiento apunta a una √≥rbita. A continuaci√≥n, algunos tipos comunes de √≥rbita:

+ <strong>OTB</strong>: Una √≥rbita terrestre baja, OTB o LEO, es una √≥rbita alrededor de la Tierra entre la atm√≥sfera y el cintur√≥n de radiaci√≥n de Van Allen, con un √°ngulo bajo de inclinaci√≥n.
Posee un per√≠odo inferior a 128 minutos (por lo que un cuerpo en dicha √≥rbita por lo menos da unas 11.25 vueltas a la Tierra por d√≠a) y una excentricidad inferior a 0.25.<br>
La mayor√≠a de los objetos en el espacio exterior se encuentran en OTB, a una altitud que nunca excede aproximadamente un tercio del radio terrestre.‚Äã Estos l√≠mites no est√°n r√≠gidamente definidos, pero est√°n t√≠picamente entre 150 - 2000 km sobre la superficie de la Tierra.<br>
La mayor√≠a de los vuelos espaciales tripulados han sido en √≥rbita terrestre baja

+ <strong>VLEO</strong>: Las √≥rbitas terrestres muy bajas (VLEO) se pueden definir como las √≥rbitas con una altitud media inferior a 450 km. Operar en estas √≥rbitas puede proporcionar una serie de beneficios a las naves espaciales de observaci√≥n de la Tierra, ya que la nave espacial opera m√°s cerca de la observaci√≥n.

+ <strong>GTO</strong>: Una √≥rbita heliosincr√≥nica es una √≥rbita casi polar alrededor de un planeta, en la que el sat√©lite pasa sobre cualquier punto dado de la superficie del planeta en el mismo tiempo solar medio local.

+ <strong>SSO</strong>: Una √≥rbita helios√≠ncrona, sincr√≥nica al sol‚Äã o SSO (acr√≥nimo del ingl√©s Sun-Synchronous Orbit) es una √≥rbita geoc√©ntrica que combina altitud e inclinaci√≥n para lograr que un objeto en esa √≥rbita pase sobre una determinada latitud terrestre a un mismo tiempo solar local.

+ <strong>ES-L1</strong>: En los puntos de Lagrange las fuerzas gravitatorias de los dos grandes cuerpos se anulan de tal manera que un peque√±o objeto puesto en √≥rbita all√≠ est√° en equilibrio con respecto al centro de masa de los grandes cuerpos. L1 es uno de esos puntos entre el sol y la tierra.

+ <strong>HEO</strong>: Una √≥rbita altamente el√≠ptica, es una √≥rbita el√≠ptica con alta excentricidad, generalmente refiri√©ndose a una alrededor de la Tierra.

+ <strong>ISS</strong>: Una estaci√≥n espacial modular (sat√©lite artificial habitable) en √≥rbita terrestre baja. Es un proyecto de colaboraci√≥n multinacional entre cinco agencias espaciales participantes: NASA (Estados Unidos), Roscosmos (Rusia), JAXA (Jap√≥n), ESA (Europa) y CSA (Canad√°).

+ <strong>MEO</strong>: √ìrbitas geoc√©ntricas que var√≠an en altitud desde 2000 km (1200 millas) hasta justo debajo de la √≥rbita geos√≠ncrona a 35 786 kil√≥metros (22 236 millas). Tambi√©n conocida como √≥rbita circular intermedia. Estos son 'm√°s com√∫nmente a 20.200 kil√≥metros (12.600 mi), o 20.650 kil√≥metros (12.830 mi), con un per√≠odo orbital de 12 horas.

+ <strong>HEO</strong>: √ìrbitas geoc√©ntricas por encima de la altitud de la √≥rbita geos√≠ncrona (35 786 km o 22 236 mi).

+ <strong>GEO</strong>: Es una √≥rbita geos√≠ncrona circular de 35 786 kil√≥metros (22 236 millas) sobre el ecuador de la Tierra y sigue la direcci√≥n de rotaci√≥n de la Tierra.

+ <strong>PO</strong>: Es un tipo de sat√©lite en el que un sat√©lite pasa por encima o casi por encima de ambos polos del cuerpo que est√° en √≥rbita (generalmente un planeta como la Tierra).

Algunas de estas √≥rbitas se muestran en el siguiente gr√°fico:

<img src='https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0701EN-SkillsNetwork/api/Images/Orbits.png'>

#### Tarea 2: Calcular el n√∫mero y ocurrencia de cada √≥rbita

Usar el m√©todo <code>.value_counts()</code> para obtener el n√∫mero y la ocurrencia de cada √≥rbita en la columna <code>Orbit</code>.

In [6]:
df['Orbit'].value_counts()

GTO      27
ISS      21
VLEO     14
PO        9
LEO       7
SSO       5
MEO       3
ES-L1     1
HEO       1
SO        1
GEO       1
Name: Orbit, dtype: int64

#### Tarea 3: Calcular el n√∫mero y la ocurrencia de los resultados por misi√≥n

Utilizar el m√©todo <code>.value_counts()</code> en la columna <code>Outcome</code>. Asignar resultado a una variable llamada <code>landing_outcomes</code>.

In [7]:
landing_outcomes = df['Outcome'].value_counts()
landing_outcomes

True ASDS      41
None None      19
True RTLS      14
False ASDS      6
True Ocean      5
False Ocean     2
None ASDS       2
False RTLS      1
Name: Outcome, dtype: int64

+ <code>True Ocean</code> significa que el cohete aterriz√≥ con √©xito en una regi√≥n espec√≠fica del oc√©ano, mientras que <code>False Ocean</code> significa que la misi√≥n aterriz√≥ sin √©xito en una regi√≥n espec√≠fica del oc√©ano.
+ <code>True RTLS</code> significa que la misi√≥n aterriz√≥ con √©xito en una plataforma de tierra, mientras que <code>False RTLS</code> significa que la misi√≥n aterriz√≥ sin √©xito en una plataforma de tierra.
+ <code>True ASDS</code> significa que la misi√≥n aterriz√≥ con √©xito en una una nave no tripulada, <code>False ASDS</code> significa que la misi√≥n aterriz√≥ sin √©xito en una nave no tripulada.
+ Por √∫ltimo, <code>None ASDS</code> y <code>None None</code> representan un fallo en el aterrizaje.

In [8]:
'''
El ciclo for se encarga de iterar sobre cada uno de los elementos devueltos por enumerate(landing_outcomes.keys()) y de guardar el √≠ndice (primer elemento) en la variable i y la clave (segundo elemento) en la variable outcome. Por √∫ltimo en cada iteraci√≥n del ciclo se imprimir√° el valor de i y outcome.
'''
for i, outcome in enumerate(landing_outcomes.keys()):
    print(i, outcome)

0 True ASDS
1 None None
2 True RTLS
3 False ASDS
4 True Ocean
5 False Ocean
6 None ASDS
7 False RTLS

A partir de los resultados de la celda anterior, crear un conjunto de resultados donde la segunda etapa NO aterriz√≥ con √©xito:

In [9]:
bad_outcomes = set(landing_outcomes.keys()[[1, 3, 5, 6, 7]])
bad_outcomes

{'False ASDS', 'False Ocean', 'False RTLS', 'None ASDS', 'None None'}

#### Tarea 4: con la columna <code>Outcome</code>, crear etiquetas de entrenamiento con los resultados de los aterrizajes

Primero, usar <code>Outcome</code> para crear una lista, donde el elemento sea cero si la fila correspondiente al Outcome est√° en el conjunto <code>bad_outcomes</code>; de lo contrario, que sea uno. Asignar esto a una variable llamada <code>landing_class</code>:

In [10]:
# landing_class = 0 si pertenece a bad_outcomes.
# landing_class = 1 si pertenece a otro valor.

# Craer una funci√≥n.
def one_hot(item):
    if item in bad_outcomes:
        return 0
    else:
        return 1
landing_class = df['Outcome'].apply(one_hot)
landing_class

0     0
1     0
2     0
3     0
4     0
     ..
85    1
86    1
87    1
88    1
89    1
Name: Outcome, Length: 90, dtype: int64

La variable <code>landing_class</code> es la variable de clasificaci√≥n que represent√° el resultado de cada lanzamiento. Si el valor es cero, la primera etapa no aterriz√≥ con √©xito, mientras que si el valor es uno significa que s√≠ lo hizo.

In [11]:
# Agregar esta variable al dataset como una nueva columna.
df['Class'] = landing_class
df[['Class']].head(8)

   Class
0      0
1      0
2      0
3      0
4      0
5      0
6      1
7      1

In [12]:
# Ver todas las columnas del dataset.
df.head()

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Outcome,Flights,GridFins,Reused,Legs,LandingPad,Block,ReusedCount,Serial,Longitude,Latitude,Class
0,1,2010-06-04,Falcon 9,6104.959412,LEO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0003,-80.577366,28.561857,0
1,2,2012-05-22,Falcon 9,525.000000,LEO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0005,-80.577366,28.561857,0
2,3,2013-03-01,Falcon 9,677.000000,ISS,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0007,-80.577366,28.561857,0
3,4,2013-09-29,Falcon 9,500.000000,PO,VAFB SLC 4E,False Ocean,1,False,False,False,NaN,1.0,0,B1003,-120.610829,34.632093,0
4,5,2013-12-03,Falcon 9,3170.000000,GTO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1004,-80.577366,28.561857,0

Se puede usar la siguiente l√≠nea de c√≥digo para determinar la tasa de √©xito:

In [13]:
df['Class'].mean()

0.6666666666666666

Por √∫ltimo, exportar el dataset a un CSV para la siguiente secci√≥n.

In [14]:
df.to_csv('../datasets/dataset_part_3.csv', index=False)

> **NOTA:**
Para que las respuestas sean consistentes en caso de que que hayan dificultades, los siguientes archivos utilizar√°n un dataset proporcionado para que cada cuaderno sea independiente.

## Resumen

El desarrollo de este cuaderno puede resumirse en los siguientes puntos:

+ El primer paso fue Importar las librer√≠as necesarias y cargar los datos de Space X proporcionados por IBM.
+ Luego tuvo lugar un an√°lisis exploratorio de datos donde se identificaron los valores faltantes a trav√©s de porcentajes, y donde tambi√©n se identificaron qu√© variables categ√≥ricas y num√©ricas conforman el dataset.
+ Adem√°s, se calcul√≥ lo siguiente: el num√©ro de lanzamientos por zona, las orbitas a las que apuntan los lanzamientos junto con su n√∫mero de ocurrencia, y tambi√©n los tipos de aterrizajes con su n√∫mero de ocurrencia.
+ Con los resultados de los aterrizajes se cre√≥ un set con los valores correspondientes a aterrizajes fallidos. Este set se asign√≥ a la variable <code>bad_outcomes</code>. Esta variable se utiliz√≥ para crear la funci√≥n <code>one_hot()</code>, que devuelve una lista llamada <code>landing_class</code> con el √©xito de los aterrizajes, donde 0 representa un aterrizaje fallido y 1 representa que el aterrizaje fue exitoso. Agregu√© esta variable al dataset como una nueva columna llamada <code>Class</code>.<br>
  Es importante mencionar que en este punto se convierten los resultados de los aterrizajes en etiquetas de entrenamiento necesarias para la parte predictiva de este proyecto.
+ Finalmente, import√© el dataset final como un archivo CSV para usarlo en la siguiente secci√≥n.

---